{{#if @koa.passport.user}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav"> 
      <li><a class="brand" href="/">Koa Test</a></li>
      <li><a href="/questions">questions</a></li>
      <li><a href="/tags">tags</a></li>
      <li><a href="/types">types</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{@koa.passport.user.Firstname}} {{@koa.passport.user.Lastname}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/logout">logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{{else}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="brand" href="/">Koa Test</a></li>
      <li><a href="/login">login</a></li>
    </ul>
  </div>
</nav>
{{/if}}
