a, a:visited { color: #660000; }
a.grey { color: #999999; }
.green { color: #006600; }
.red   { color: #660000; }
.preview .line{
  margin-top: 20px;
}
.questions textarea, .preview textarea, .text_pre {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  height: 400px;
  width: 49%;
  overflow-y: scroll;
}
.bs-example{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  position: relative;
  padding: 5px 15px;
}