<!doctype html>
<html lang="en">
<head>
  <title>Koa Test Middleware</title>
  {{>common}}
</head>
<style type="text/css">
  .row{
    margin-top: 20px;
  }
</style>
<body>

{{>navpartial}}

<div class="container-fluid">
  <h1 class="col-lg-offset-4 col-lg-4 tc">Koa Test</h1>
  <div class="row col-lg-offset-2 col-lg-8">
    <p>This is the (unsecured) ‘www’ section of the Koa Test Middleware
      <a href="https://github.com/yangzj1992/koa-test-middleware">github.com/yangzj1992/koa-test-middleware</a>, showing the <a href="https://github.com/yangzj1992/koa-test-middleware">github readme</a>.
    </p>
  </div>
</div>
</body>
</html>
