<!doctype html>
<html lang="en">
<head>
    <title>{{Firstname}} {{Lastname}}</title>
    {{>common}}
</head>
<body>

{{>navpartial}}

<div class="container-fluid">
  <div class="row col-lg-8 col-lg-offset-2">
    <h1>{{Title}}</h1>
    <h2>Details</h2>

    <table>
      <tr>
        <th>Title</th>
        <td>{{title}}</td>
      </tr>
      <tr>
        <th>Question Use Case</th>
        <td>{{use_case}}</td>
      </tr>
      <tr>
        <th>Question Description</th>
        <td>{{description}}</td>
      </tr>
      <tr>
        {{#answers}}
        <th>Answer</th>
        <td>{{answer}}</td>
        {{/answers}}
      </tr>
    </table>

    {{#if tags}}
    <p>tags:
      {{#tags}}
      <a href="/tags/{{TagId}}">{{name}}{{#unless @last}},{{/unless}}</a>
      {{/tags}}
    </p>
    {{else}}
    <p>No tags.</p>
    {{/if}}


    {{#if types}}
    <p>types:
      {{#types}}
      <a href="/types/{{TypeId}}">{{topic}}{{#unless @last}},{{/unless}}</a>
      {{/types}}
    </p>
    {{else}}
    <p>No types.</p>
    {{/if}}

  </div>
</div>

</body>
</html>
