<!doctype html>
<html lang="en">
<head>
  <title>{{Firstname}} {{Lastname}}</title>
  {{>common}}
</head>
<style type="text/css">
  .des{
    font-weight: bolder;
    margin-right: 10px;
    line-height: 2em;
  }
</style>
<body>

{{>navpartial}}

<div class="container-fluid">
  <div class="row col-lg-8 col-lg-offset-2">
    <h1>{{Title}}</h1>
    <h2>Details</h2>

    <div class="row">
      <span class="des">Title</span>
      <div class="bs-example" id="title">{{title}}</div>
    </div>
    <div class="row">
      <span class="des">Question Use Case</span>
      <div class="bs-example" id="use_case">{{use_case}}</div>
    </div>
    <div class="row">
      <span class="des">Question Description</span>
      <div class="bs-example" id="description">{{description}}</div>
    </div>
    <div class="row">
      {{#answers}}
      <span class="des">Answer</span>
      <div class="bs-example" id="answer">{{answer}}</div>
      {{/answers}}
    </div>

    {{#if tags}}
    <div class="row">
      <span class="des">tags:</span>
      <span>
        {{#tags}}
        <a href="/tags/{{TagId}}">{{name}}{{#unless @last}},{{/unless}}</a>
        {{/tags}}
      </span>
    </div>
    {{else}}
    <p>No tags.</p>
    {{/if}}

    {{#if types}}
    <div class="row">
      <span class="des">types:</span>
      <span>
        {{#types}}
        <a href="/types/{{TypeId}}">{{topic}}{{#unless @last}},{{/unless}}</a>
        {{/types}}
      </span>
    </div>
    {{else}}
    <p>No types.</p>
    {{/if}}
  </div>
</div>
<script type="text/javascript">
  if($('#answer').text()){
    $('#answer').html(marked($('#answer').text()));
  }
  if($('#use_case').text()){
    $('#use_case').html(marked($('#use_case').text()));
  }else{
    $('#use_case').hide()
  }
  if($('#description').text()){
    $('#description').html(marked($('#description').text()));
  }else{
    $('#description').hide()
  }
</script>
</body>
</html>
