<!doctype html>
<html lang="en">
<head>
    <title>Add tag</title>
    {{>common}}
</head>
<body>

<h1>Add tag</h1>

{{>navpartial}}
{{>errpartial}}

<main>

<form method="post">
    <ul>
        <li>
            <label for="name">Name</label>
            <input name="name" id="name" value="{{name}}" required autofocus>
        </li>
        <li>
            <label></label>
            <button type="submit" class="fa fa-check-square-o green" title="Add"></button>
        </li>
    </ul>
</form>

</main>

</body>
</html>
