<!doctype html>
<html lang="en">
<head>
    <title>Edit tag</title>
    {{>common}}
</head>
<body>

{{>navpartial}}

<div class="container-fluid">
  <div class="row col-lg-8 col-lg-offset-2">
    <h1>Edit tag</h1>
    {{>errpartial}}
    <form method="post">
      <ul>
        <li>
          <label for="name">Name</label>
          <input name="name" id="name" value="{{name}}" required autofocus>
        </li>
        <li>
          <label></label>
          <button type="submit" class="fa fa-check-square-o green" title="Update"></button>
        </li>
      </ul>
    </form>
  </div>
</div>

</body>
</html>
