<!doctype html>
<html lang="en">
<head>
    <title>{{name}}</title>
    {{>common}}
</head>
<body>

{{>navpartial}}

<div class="container-fluid">
  <div class="row col-lg-8 col-lg-offset-2">
    <h1>{{name}}</h1>
    <h2>Details</h2>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{name}}</td>
        </tr>
    </table>

    {{#if questions}}
    <div>
      <h3 class="des">Questions:</h3>
      <p>
        {{#questions}}
        <a href="/questions/{{question_id}}">{{title}}</a>
        <br>
        {{/questions}}
      </p>
    </div>
    {{else}}
    <p>No questions.</p>
    {{/if}}
  </div>
</div>

</body>
</html>
